<h1>Stupid Coaching</h1>
<div class="you">
  <p> Here is what you've just asked </p>
  <%= params[:question] %>
</div>

<div class = coach>
  <% if params[:question] == "I am going to work" %>
    <%= "Great" %>
    <% elsif params[:question].end_with?("?") %>
      <%= "Silly question, get dressed and go to work!" %>
    <% else %>
      <%= "I don't care, get dressed and go to work!" %>
  <% end %>
</div>
<%= link_to "Answer", "ask_path" %>
